<!--<div class="lgp">
    <form (submit)="onSubmit()">
        <input type="email" name="email" [(ngModel)]="email" placeholder="EmaiID" required><br><br>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required><br><br>
        <button type="submit">Submit</button>
    </form>
</div>-->

<div class="lgpage">
    <div class='bx'>
        <form class='bx-1' (submit)="onSubmit()">
            <input type="text" name="email" [(ngModel)]="email" placeholder="EmaiID" required>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
            <button class='login-bt' type='submit'>Login</button>
        </form>
    </div>
</div>