<div class="header">
  <h1 class="title">Dashboard</h1>

<div class="la-hrz">
  <div class="card" routerLink="/student">
    <div class="card-body">
      <i class="bi bi-person-badge-fill st-icon"></i>
      <h5 class="card-title">Students Enrolled</h5>
    </div>
    <!--<a href="#" class="btn btn-primary">Read More</a>-->
  </div>
  <div class="card" style="left:510px" routerLink="/teacher">
    <div class="card-body">
      <i class="bi bi-person-badge st-icon"></i>
      <h5 class="card-title">Teachers</h5>
    </div>
    <!--<a href="#" class="btn btn-primary">Read More</a>-->
  </div>
  <div class="card" style="left:820px" routerLink="/courses">
    <div class="card-body">
      <i class="bi bi-journal-bookmark st-icon"></i>
      <h5 class="card-title">Courses</h5>
    </div>
    <!--<a href="#" class="btn btn-primary">Read More</a>-->
  </div>
  <div class="card" style="left:1130px" routerLink="/session">
    <div class="card-body">
      <i class="bi bi-list-check st-icon"></i>
      <h5 class="card-title">Sessions</h5>
    </div>
    <!--<a href="#" class="btn btn-primary">Read More</a>-->
  </div>
</div>
